

body {
    background-image: url('sua-imagem-de-fundo.jpg'); /* Substitua pela URL da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;

}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px; /* Deixar mais redondo */
    padding: 90px; /* Aumentar o espaçamento na parte inferior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px; /* Aumentar a largura máxima da tela de login */
    width: 100%;
}

.logo-container img {
    width: 250px; /* Largura da logo */
    margin-bottom: 50px; /* Espaço entre a logo e o título */
}

.login-form h1 {
    margin-bottom: 100px;
    color: #333;
}

.login-title {
    background-color: #84124b;
    ; /* Cor de fundo */
    border-radius: 20px; /* Arredondar cantos no topo */
    padding: 5px ; /* Espaçamento interno */
    margin-top: 0; /* Remover margem superior do título */
    margin-bottom: 20px;
    margin-left: 20px;
}
.login-title h1 {
    color: white; /* Cor do texto */
    margin: 0;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none; /* Remover borda */
    border-radius: 20px; /* Remover arredondamento */
    background-color: rgba(255, 255, 255, 0.7); /* Cor de fundo com transparência */
    font-size: 14px;
    box-shadow: 2px 2px 3px rgba(149, 0, 0, 0.1) inset; /* Adicionar sombra no placeholder */
}

.checkbox-container {
    text-align: left;
    margin-bottom: 15px;
}

.checkbox-container label {
    display: inline-block;
    margin-right: 10px;
}

button {
    background-color: #84124b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #FF4070;
}

.cadastro-link,
.senha-link {
    margin-top: 10px;
    font-size: 14px;
}

.cadastro-link a,
.senha-link a {
    text-decoration: none;
    color: #333;
}

.cadastro-link a:hover,
.senha-link a:hover {
    text-decoration: underline;
}